@font-face {
  font-family: "Courier New";
  src: url("courier_new.woff2") format("woff2"),
    url("courier_new.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 1em;
  background-color: black;
  font-family: "Courier New", monospace;

  line-height: 1.5;

  height: 100%;
}

header {
  /* remove this test code: */
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0;
  margin: 0 0 1em;
  line-height: inherit;
  text-align: center;
}

p {
  margin: 0 0 1.5em;
}

a {
  text-decoration: none;
  color: #00f;
}

a:hover {
  color: #00f;
}

a:active {
  color: #f02;
}

ul {
  list-style: none;
  padding: 0;
}

.background {
  max-width: 50em;
  padding: 1em;
  background-color: #dae8f2;
  margin: auto;
  border-radius: 0.5em;
  overflow: auto;

  height: 100%;
}

.button {
  background-color: transparent;
  border-color: #000;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  color: #000;
  padding: 0 0.5em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.button:not([disabled]) {
  cursor: pointer;
}

.button:hover:not([disabled]) {
  color: #00f;
  border-color: #00f;
}

.button:active:not([disabled]) {
  color: #f02;
  border-color: #f02;
}

.fill {
  display: block;
  width: 100%;
}

.highlight {
  color: #fff;
  background-color: #000;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-list > li {
  margin: 0.5em;
}

.poem {
  width: fit-content;
  margin: auto;
  white-space: pre;
}

.comment {
  font-style: italic;
}

.choose-lang-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.choose-lang-list {
  font-size: 2em;
  margin-right: 1em;
}

.choose-lang-list > li {
  margin-top: 0.5em;
}

.logo {
  height: 6em;
}

.logo-large {
  height: 20em;
}
