* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 1em;
  background-color: black;
  font-family: "Courier New", Courier, monospace;

  line-height: 1.5;

  height: 100%;
}

header {
  /* remove this test code: */
  text-align: center;
}

.logo {
  height: 6em;
}

h1 {
  font-weight: bold;
  font-size: 1.25em;
  padding: 0;
  margin: 0 0 1em;
  line-height: inherit;
  text-align: center;
}

p {
  margin: 0 0 1.5em;
}

a {
  text-decoration: none;
  color: #00f;
}

a:hover {
  color: #00f;
}

a:active {
  color: #f02;
}

.background {
  max-width: 50em;
  padding: 1em;
  background-color: #dae8f2;
  margin: auto;
  border-radius: 0.5em;
  overflow: auto;

  height: 100%;
}

.poem {
  width: fit-content;
  margin: auto;
  white-space: pre;
}

.comment {
  font-style: italic;
}

.choose-lang-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.choose-lang-list {
  font-size: 2em;
  list-style: none;
  margin-right: 1em;
  padding: 0;
}

.choose-lang-list > li {
  margin-top: 0.5em;
}

.choose-lang-link {
  border-radius: 0.5em;
  border-style: solid;
  display: block;
  text-align: center;
  color: #000;
  padding: 0 0.5em;
}

.logo-large {
  height: 20em;
}
