@font-face {
  font-family: "Courier New";
  src: url("courier_new.woff2") format("woff2"),
    url("courier_new.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 1em;
  background-color: black;
  font-family: "Courier New", monospace;

  line-height: 1.5;

  height: 100%;
}

h1,
h2,
h3 {
  font-weight: bold;
  padding: 0;
  margin: 0 0 1em;
  line-height: inherit;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

p {
  margin: 0 0 1.5em;
}

a {
  text-decoration: none;
  color: #00f;
}

a:hover {
  color: #00f;
}

a:active {
  color: #f02;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  margin: 0 auto 1.5em;
  width: fit-content;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav,
header > div {
  width: 12em;
}

nav li {
  margin: 0.5em;
}

address {
  margin: 1em 0;
}

address > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

address li {
  margin: 0 0.3em;
}

address a {
  display: block;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.1em;
  border-color: transparent;
}

address a:hover {
  border-color: #00f;
}

address a:active {
  border-style: solid;
  border-color: #f02;
}

footer {
  margin-top: 3em;
  border-top-style: solid;
  border-top-width: 0.2em;
}

.background {
  max-width: 50em;
  padding: 1em;
  background-color: #dae8f2;
  margin: auto;
  border-radius: 0.5em;
  overflow: auto;

  height: 100%;
}

.button {
  background-color: transparent;
  border-color: #000;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.1em;
  text-align: center;
  color: #000;
  padding: 0 0.5em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.button:not([disabled]) {
  cursor: pointer;
}

.button:hover:not([disabled]) {
  color: #00f;
  border-color: #00f;
}

.button:active:not([disabled]) {
  color: #f02;
  border-color: #f02;
}

.centered {
  text-align: center;
}

.fill {
  display: block;
  width: 100%;
}

.highlight {
  color: #fff;
  background-color: #000;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-list > li {
  margin: 0.5em;
}

.poem {
  width: fit-content;
  margin: 1.5em auto;
  white-space: pre;
}

.no-bottom {
  margin-bottom: 0;
}

.no-top {
  margin-top: 0;
}

.comment {
  font-style: italic;
}

.date {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.in-lyrics {
  margin: 1.5em 0 3em;
}

.choose-lang-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.choose-lang-list {
  font-size: 2em;
  margin-right: 1em;
}

.choose-lang-list > li {
  margin-top: 0.5em;
}

.logo {
  height: 6em;
}

.logo-large {
  height: 20em;
  margin: 0.5em 0;
}

.logo-social {
  width: 2em;
  vertical-align: middle;
}

.links,
.releases {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1.5em;
}

.links > li {
  width: 6em;
}

.releases > li {
  width: 10em;
}

.item {
  text-align: center;
  margin: 0 0.5em 1em;
}

.item img {
  width: 100%;
  box-shadow: 0 0 0.1em;
}

.item a,
.to-top,
.to-top:active,
.to-top:hover {
  color: #000;
}

.item a:hover,
.to-top::before,
.to-top::after {
  color: #00f;
}

.item a:active {
  color: #f02;
}

.to-top::before,
.to-top::after {
  content: " ^ ";
  font-weight: normal;
}

.latest {
  margin: 0 auto;
}

.from {
  text-align: center;
  margin-bottom: 1.5em;
}

.from a {
  font-weight: bold;
}

.sorted {
  margin-bottom: 1.5em;
}

.cover {
  max-width: 30em;
  width: 100%;
  display: block;
  margin: 1em auto 0;
  box-shadow: 0 0 0.1em;
}

.warning {
  background-color: #fff;
  border-style: solid;
  padding: 0.5em;
}

.footnote {
  position: relative;
  margin-top: 3em;
}

.footnote::before {
  position: absolute;
  top: -0.5em;
  content: "";
  width: 100%;
  max-width: 10em;
  border-top-style: solid;
  border-top-width: 0.1em;
}

#backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#choose-lang {
  background: #dae8f2;
  padding: 1em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.1em;
}

#choose-lang > li:not(:last-child) {
  margin-bottom: 1em;
}

@media screen and (max-width: 26.5em) {
  header span {
    display: none;
  }

  header address {
    margin: 0;
  }

  header address > ul {
    margin-bottom: 0;
  }

  .background {
    padding-top: 0.2em;
  }
}

@media screen and (max-width: 49em) {
  .latest {
    max-width: 22em;
  }
}
